<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flight schedule</title>
    {% load humanize %}
</head>
<body>
    <h1>Flight Details (Flight No {{ booking.flight.id }})</h1>
    <p><strong>From: </strong>{{ booking.flight.from_location }}</p>
    <p><strong>To: </strong>{{ booking.flight.to_location }}</p>
    <p><strong>Departure Time: </strong>{{ booking.flight.departure_time }}</p>
    <p><strong>Arrival Time: </strong>{{ booking.flight.arrival_time }}</p>
    <p><strong>Cost: </strong>{{ booking.flight.price|intcomma }} Naira</p>
    <p><i> Please Print this and bring to the Airport</i></p>
</body>
</html>